<div class="flex justify-center items-center">
    <div class="flex">
        <div class="flex flex-col lg:flex-row items-center lg:items-start p-0 animate__animated animate__fadeIn animate__delay-3s">
            <div class="flex-1 mb-10 lg:mb-0 lg:pr-16 lg:py-166 lg:pb-0 md:pb-0 md:pl-0 lg:pl-0">
                {% if data.title %}
                    <h1 class="text-light-p10 font-roboto text-4xl lg:text-45 leading-40 lg:leading-52 font-normal text-left animate__animated animate__slideInLeft animate__delay-3s">{{ data.title }}</h1>
                {% endif %}
                {% if data.description %}
                    <p class="text-light-p10 lg:pb-6 pb-4 font-roboto text-sm lg:text-base lg:tracking-0.5 text-left lg:mx-auto animate__animated animate__slideInLeft animate__delay-3s">{{ data.description }}</p>
                {% endif %}
                <div class="flex justify-start lg:mt-10 mt-8">
                    {% if data.button %}
                        {% if data.button.url %}
                            <a href="{{ data.button.url }}" class="inline-block bg-transparent text-light-p40 py-2.5 px-6 rounded-full border border-light-p40 text-center hover:bg-light-p40 hover:text-white-100 animate__animated animate__fadeIn animate__delay-4s">
                                Learn More
                                <svg class="h-5 w-5 inline-block" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                                </svg>
                            </a>
                        {% else %}
                            <span class="inline-block bg-transparent text-light-p40 py-2.5 px-6 rounded-full border border-light-p40 text-center">
                                Inactive
                                <svg class="h-5 w-5 inline-block" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                                </svg>
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if data.image %}
                <div class="h-376 w-full lg:w-599 md:w-full md:h-full lg:h-587 flex justify-center items-stretch overflow-hidden">
                    <img src="{{ data.image.url }}" alt="{{ data.image.alt }}" class="w-full h-full object-cover rounded-20 lg:rounded-32">
                </div>
            {% endif %}
        </div>
    </div>
</div>
