
{% if data.card_type == 'author_card' %} 

<div class="cards-module grid lg:grid-cols-3 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">
    {% if data.cards_module.cards_title %}

        <div class="md:col-span-2 col-span-1 lg:col-span-3 xl:col-span-3 cards-content mb-2.5">
            <h2 class="text-3xl text-light-p10">{{data.cards_module.cards_title}}</h2>
            <p class="text-light-p10 mt-4">{{data.cards_module.cards_content}}</p>
        </div>
    {% endif %}
    {{ include("templates/cards/#{ data.cards_module.post_type_selector}-cards.twig", { data: data, post: posts }, ignore_missing = true)}}
</div>
 {% endif %} 
 {% if data.card_type == 'services' %} 

<div class="w-full flex flex-col">
        <div class="text">
            <h1 class="text-xl md:text-32">{{ data.title }}</h1>
            <div class="mt-4 font-roboto letterSpacing-0.5 text-light-p30 text-base lineHeight-24 w-full lg:w-10/12">{{data.description}}</div>
        </div>

        <div class="card-container mt-10 flex md:flex-row lg:flex-nowrap flex-col gap-6 justify-center items-center">
            {% for item in data.card %}

                <div class="card border border-light-nv80 bg-light-n98 rounded-16 overflow-hidden w-full md:w-330 shadow">
                    <div class="h-200 w-full md:max-w-330 overflow-hidden">
                            <img src="{{item.image.url}}" class="w-full h-200 object-cover" alt="{{item.image.alt}}">
                    </div>

                    <div class="p-4 flex flex-col justify-between h-220">
                    	<div class="">
                            <h2 class="text-2xl lineHeight-32 line-clamp-1">{{item.title}}</h2>
                            <div class="lineHeight-20 text-light-p30 font-roboto text-sm letterSpacing-0.25 mt-4 line-clamp-3">{{item.description_card}}</div>
						</div>
                    	<div class="mb-2 mt-10">
                            <a href="{{item.button.url}}" class="button bg-light-p40 font-roboto text-white-100 font-sm text-sm border border-light-p40 px-6 py-2.5 rounded-full">
                                {{item.button.title}}
                            </a>
                    	</div>
                    </div>
                </div>

            {% endfor %}
        </div>

</div>


 {% endif %} 