<footer class="bg-brown-800 text-white p-4 lg:pt-24">
    <div class="footer-container max-w-full mx-auto">      
        <div class="flex flex-col lg:flex-row justify-between lg:mb-24"> 
        <div class="mb-16 mt-12 lg:m-0 sm:w-96">
                <img src="{{ footer.logo.url}}" alt="Logo" title="{{ footer.logo.title }}" class="w-[150px] h-16 object-contain" />
                <h4 class="text-brown-400 font-roboto  font-medium text-sm leading-5 mt-2">
                    {{ footer.content }}
                </h4>
            </div>
            <div class="grid grid-cols-2 gap-6 lg:flex lg:gap-6 flex-wrap xl:flex-nowrap md:flex-nowrap"> 
                <div class="text-grey-400 space-y-4 text-left  lg:w-36 xl:w-52">
                    <h4 class="mb-2 text-white-100">Categories</h4>
                    <div class="child-items space-y-3 font-roboto font-normal text-sm leading-5 list-none">
                        {{ function('wp_nav_menu', { 'theme_location': 'footer-menu-product', 'container': false, 'items_wrap': '%3$s' }) }}
                    </div>
                </div>
                <div class="text-grey-400 space-y-4 list-none text-left lg:w-36 xl:w-52">
                    <h4 class="mb-2 text-white-100">About Us</h4>
                    <div class="child-items space-y-3 font-roboto font-normal text-sm leading-5 list-none">
                        {{ function('wp_nav_menu', { 'theme_location': 'footer-menu-company', 'container': false, 'items_wrap': '%3$s' }) }}
                    </div>
                </div>
                <div class="text-grey-400 space-y-4 list-none mt-4 md:mt-0 lg:mt-0 xl:mt-0 text-left lg:w-36 xl:w-52">
                    <h4 class="mb-2 text-white-100">Legals</h4>
                    <div class="child-items space-y-3 font-roboto font-normal text-sm leading-5 list-none">
                        {{ function('wp_nav_menu', { 'theme_location': 'footer-menu-legals', 'container': false, 'items_wrap': '%3$s' }) }}
                    </div>
                </div>
                <div class="text-grey-400 space-y-4 list-none text-left lg:w-36 mt-4 md:mt-0 lg:mt-0 xl:mt-0 xl:w-52">
                    <h4 class="mb-2 text-white-100">Social Media</h4>
                    <div class="child-items space-y-3 font-roboto font-normal text-sm leading-5 list-none">
                        {{ function('wp_nav_menu', { 'theme_location': 'footer-menu-social-media', 'container': false, 'items_wrap': '%3$s' }) }}
                    </div>
                </div>
            </div>
        </div>
        <hr class="border-brown-400 w-full h-1 rounded-md opacity-40 mb-8 lg:mb-8 mt-10">
        <div class="w-full flex flex-col sm:flex-row justify-between text-left text-grey-400 ">
            &copy; 2023 Starlabs. All rights reserved
        </div>
    </div>
</footer>
