<div class="fixed inset-0 backdrop-blur-sm z-50 flex items-center flex-col justify-baseline invisible" id="searchModal">
	<form id="live-search-form" method="get" class="mt-16 bg-white-100 w-343 lg:w-520 h-12 flex items-center justify-start rounded-lg p-3 gap-3 shadow-md" action="{{ home_url('/') }}">
		<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20 20L15.375 15.375M17.3333 10.6667C17.3333 14.3486 14.3486 17.3333 10.6667 17.3333C6.98477 17.3333 4 14.3486 4 10.6667C4 6.98477 6.98477 4 10.6667 4C14.3486 4 17.3333 6.98477 17.3333 10.6667Z" stroke="#2F628C" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
		<input type="text" id="live-search-input" name="s" placeholder="Type to search..." autocomplete="off" class="w-full">
		<svg width="12" class="cursor-pointer" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" id="closeIcon">
			<path d="M6 6.99665L1.20216 11.7945C1.07122 11.9254 0.906627 11.9924 0.708384 11.9954C0.510157 11.9985 0.34254 11.9315 0.205533 11.7945C0.068511 11.6575 0 11.4914 0 11.2962C0 11.101 0.068511 10.9349 0.205533 10.7978L5.00335 6L0.205533 1.20216C0.0745795 1.07122 0.00758942 0.906628 0.00456304 0.708384C0.00152091 0.510157 0.068511 0.34254 0.205533 0.205533C0.34254 0.068511 0.508644 0 0.703845 0C0.899046 0 1.06515 0.068511 1.20216 0.205533L6 5.00335L10.7978 0.205533C10.9288 0.0745795 11.0934 0.00758942 11.2916 0.00456304C11.4898 0.00152091 11.6575 0.068511 11.7945 0.205533C11.9315 0.34254 12 0.508643 12 0.703844C12 0.899046 11.9315 1.06515 11.7945 1.20216L6.99665 6L11.7945 10.7978C11.9254 10.9288 11.9924 11.0934 11.9954 11.2916C11.9985 11.4898 11.9315 11.6575 11.7945 11.7945C11.6575 11.9315 11.4914 12 11.2962 12C11.101 12 10.9349 11.9315 10.7978 11.7945L6 6.99665Z" fill="#2F628C"/>
		</svg>
	</form>

	<div id="search-results" class="overflow-auto lg:w-520 w-343 max-h-48 bg-white-100 border-t rounded-b-lg gap-2 py-3.5 px-3 shadow-md hidden"></div>
</div>


<header class="main">
	<div class="navbar-top w-full h-11 flex flex-row items-center lg:justify-center justify-center gap-7 pl-7 bg-light-p40">
		<div class="phone-number flex flex-row items-center justify-center gap-2 animate__animated animate__fadeInDown animate__delay-3s">
			<img src="{{ asset('/assets/images/phone.png') }}" alt="Logo" class="w-4" alt="">
			<a href="#" class="text-white-100 lg:text-sm text-xs">25210 38111</a>
		</div>
		<div class="email flex flex-row items-center justify-center gap-2 animate__animated animate__fadeInDown animate__delay-3s">
			<img src="{{ asset('/assets/images/mail.png') }}" alt="Logo" class="w-4" alt="">
			<a href="#" class="text-white-100 lg:text-sm text-xs">info@travelexplore.gr</a>
		</div>
	</div>

	<div class="navbar w-full h-88 bg-white-100 flex items-center lg:justify-center justify-between lg:p-6 py-4 px-3">
		<div class="left lg:w-1/4 md:w-1/4 w-2/4 p-0">
			<a href="{{ home_url() }}">
				<div class="logo-section">
					<img src="{{ asset('/assets/images/logo.png') }}" alt="Logo" class="w-7/12">
				</div>
			</a>
		</div>

		<div class="right h-auto w-full lg:flex hidden lg:flex-row flex-column items-center lg:justify-center justify-start lg:bg-transparent bg-white-100 lg:py-0 py-6 lg:relative absolute lg:top-0 top-32 left-0 right-0 lg:gap-0 lg:gap-0 gap-0" id="menuList">
			<div class="menus flex lg:flex-row items-center justify-baseline lg:justify-center w-3/4">
				{{ wp_nav_menu({'theme_location': 'top-menu'}) }}
			</div>
			<hr class="lg:hidden block w-11/12 h-px bg-light-p40 mt-4 mb-8">

			<div class="right-side lg:w-auto w-full flex lg:flex-row flex-row lg:justify-between justify-center lg:gap-3 gap-5">
				<div class="buttons lg:inline-flex flex items-center justify-center">
				
				<a href="{{ home_url() }}/login" id="loginButton" class="font-roboto text-light-p40 font-medium lg:text-sm text-sm border border-light-p40 lg:px-6 lg:py-2.5 px-6 py-2.5 rounded-full {{ function ('is_user_logged_in') ? 'invisible' : '' }}">Login</a>
				<a href="{{ home_url() }}/registration-page" id="signupButton" class="font-roboto text-nowrap text-white-100 font-medium lg:text-sm text-sm lg:px-6 lg:py-2.5 px-6 py-2.5 rounded-full bg-light-p40 ml-3 lg:ml-3 {{ function ('is_user_logged_in') ? 'invisible' : '' }}">Sign Up</a>

				
				</div>

				<div class="search lg:flex hidden items-center justify-center" id="search-Icon">
					<svg width="24" class="cursor-pointer" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 20L15.375 15.375M17.3333 10.6667C17.3333 14.3486 14.3486 17.3333 10.6667 17.3333C6.98477 17.3333 4 14.3486 4 10.6667C4 6.98477 6.98477 4 10.6667 4C14.3486 4 17.3333 6.98477 17.3333 10.6667Z" stroke="#2F628C" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
			</div>
		</div>

		<div class="burger-menu lg:hidden block p-2">
			<img src="{{ asset('/assets/images/burger.png') }}" alt="Logo" class="" id="burger-menu">
		</div>
		<svg width="12" class="lg:hidden lg:invisible hidden absolute right-6 z-40 cursor-pointer" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" id="close_Icon">
			<path d="M6 6.99665L1.20216 11.7945C1.07122 11.9254 0.906627 11.9924 0.708384 11.9954C0.510157 11.9985 0.34254 11.9315 0.205533 11.7945C0.068511 11.6575 0 11.4914 0 11.2962C0 11.101 0.068511 10.9349 0.205533 10.7978L5.00335 6L0.205533 1.20216C0.0745795 1.07122 0.00758942 0.906628 0.00456304 0.708384C0.00152091 0.510157 0.068511 0.34254 0.205533 0.205533C0.34254 0.068511 0.508644 0 0.703845 0C0.899046 0 1.06515 0.068511 1.20216 0.205533L6 5.00335L10.7978 0.205533C10.9288 0.0745795 11.0934 0.00758942 11.2916 0.00456304C11.4898 0.00152091 11.6575 0.068511 11.7945 0.205533C11.9315 0.34254 12 0.508643 12 0.703844C12 0.899046 11.9315 1.06515 11.7945 1.20216L6.99665 6L11.7945 10.7978C11.9254 10.9288 11.9924 11.0934 11.9954 11.2916C11.9985 11.4898 11.9315 11.6575 11.7945 11.7945C11.6575 11.9315 11.4914 12 11.2962 12C11.101 12 10.9349 11.9315 10.7978 11.7945L6 6.99665Z" fill="#2F628C"/>
		</svg>

		<svg width="24" class="cursor-pointer lg:invisible visible lg:hidden block absolute right-16 z-40" id="search-Icon-mobile" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20 20L15.375 15.375M17.3333 10.6667C17.3333 14.3486 14.3486 17.3333 10.6667 17.3333C6.98477 17.3333 4 14.3486 4 10.6667C4 6.98477 6.98477 4 10.6667 4C14.3486 4 17.3333 6.98477 17.3333 10.6667Z" stroke="#2F628C" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>

	</div>

</header>
