{% extends "base.twig" %}

{% block content %}
<div class="container mx-auto flex pb-12 justify-center min-h-screen px-4">
    <div class="w-full lg:w-3/4 xl:w-2/3 flex flex-col md:flex-row shadow-lg rounded-lg overflow-hidden">
        <div class="w-full md:w-1/2 bg-cover bg-center block h-64 md:h-auto" style="background-image: url('{{ site.theme.link }}/assets/images/login.jpg')"></div>
        <div class="w-full md:w-1/2 bg-white p-8 md:p-12 flex items-center justify-center">
            <div class="w-full">
                <h2 class="text-2xl font-bold mb-6 text-center text-light-p10">Hi, good to have you back.</h2>
                <form method="post" action="{{ site.url }}/wp-login.php">
                    <input type="hidden" name="redirect_to" value="{{ site.url }}/wp-admin/edit.php?post_type=user_journey">
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-light-p10" for="username">Email or Username</label>
                        <input class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" id="username" name="log" type="text" placeholder="Email or Username" required>
                    </div>
                    <div class="mb-6">
                        <label class="block text-sm font-medium text-light-p10" for="password">Password</label>
                        <input class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" id="password" name="pwd" type="password" placeholder="Password" required>
                        <a href="#" class="text-sm text-gray-900 hover:text-gray-400 float-right mt-1 ">Forgot your password?</a>
                    </div>
                    <div class="flex items-center justify-center mb-4 pt-5">
                        <button class="flex justify-center py-2.5 px-6 rounded-full shadow-sm text-sm font-medium bg-light-p40 border text-white-100 hover:bg-transparent hover:text-light-p40 hover:border-light-p40 w-3/4 text-center" type="submit">
                            LOGIN
                        </button>
                    </div>
                    <div class="mt-6 text-center">
                        <p class="text-sm text-gray-600">or login with</p>
                        <div class="mt-2">
                            <a href="https://mail.google.com/mail/u/0/#inbox" class="text-gray-600 hover:text-gray-900 mx-2"><img src="{{ site.theme.link }}/assets/images/gmail.png" alt="Gmail" class="inline-block" style="width: 24px; height: 24px;"> Gmail</a>
                            <a href="https://www.facebook.com/" class="text-gray-600 hover:text-gray-900 mx-2"><img src="{{ site.theme.link }}/assets/images/facebook.png" alt="Facebook" class="inline-block" style="width: 24px; height: 24px;"> Facebook</a>
                        </div>
                    </div>
                </form>
                <div class="mt-6 text-center">
                    <p class="text-sm text-gray-600">Don't have an account?</p>
                    <div class="flex justify-center">
                        <a href="{{ site.url }}/templates/register" class="py-2.5 px-6 rounded-full shadow-md text-sm font-medium border bg-transparent text-light-p40 border-light-p40 w-3/4 text-center mt-4 hover:shadow-xl transition-shadow duration-300">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
